# Latenode Webhook URL
# The URL provided by Latenode that connects to Airtable and cal.com
LATENODE_WEBHOOK_URL=https://webhook.latenode.com/96126/prod/60c19cb7-887e-42c3-ba06-6b4a212defb4

# Cal.com Booking URL
# The URL where users will pick their time slot
NEXT_PUBLIC_CAL_BOOKING_URL=https://cal.com/aurorarecovery/halotherapy
